In [76]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [79]:
df = pd.read_csv('data/zingat_preprocessed.csv', low_memory=False)
df.drop(['Unnamed: 0'], axis=1, inplace = True)

In [80]:
df

,net_alan,brut_alan,kat_sayisi,isitma,bulundugu_kat,bina_yasi,esya,kullanim_durumu,kredi_durumu,fiyat,il,ilce,mahalle,oda_sayisi,toplam_oda_sayisi,lat,lng
0,100,110,7,2,3,28,0,0,0,1350000,İstanbul,Bağcılar,Çınar,2 + 1,3,41.034547,28.856756
1,80,95,15,2,15,3,0,0,1,2975000,İstanbul,Bağcılar,Göztepe,2 + 1,3,41.034547,28.856756
2,110,115,5,1,1,28,0,0,0,1100000,İstanbul,Bağcılar,100. Yıl,3 + 1,4,41.034547,28.856756
3,75,135,15,3,3,0,0,0,0,2970000,İstanbul,Bağcılar,Fevzi Çakmak,2 + 1,3,41.034547,28.856756
4,85,105,10,2,1,8,2,2,1,2500000,İstanbul,Bağcılar,Kirazlı,2 + 1,3,41.034547,28.856756
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23029,220,240,5,2,5,0,1,0,1,4170000,Zonguldak,Çaycuma,Filyos Bld. (Hisarönü),4 + 2,6,40.992938,29.113519
23030,125,135,4,2,2,0,0,0,1,1275000,Zonguldak,Çaycuma,Filyos Bld. (Hisarönü),3 + 1,4,40.992938,29.113519
23031,95,110,4,2,0,0,0,0,1,1285000,Zonguldak,Çaycuma,Pehlivanlar,2 + 1,3,40.992938,29.113519
23032,65,85,4,2,1,4,2,1,1,975000,Zonguldak,Çaycuma,Filyos Bld. (Hisarönü),1 + 1,2,40.992938,29.113519
23033,90,110,4,2,1,8,0,2,1,935000,Zonguldak,Çaycuma,Çay,2 + 1,3,40.992938,29.113519

city_list adında bir dizi oluşturulur. Bu dizi Türkiye'deki bütün illerin listesidir.

In [81]:
city_list = ['Adana', 'Adıyaman', 'Afyon', 'Ağrı', 'Amasya', 'Ankara', 'Antalya', 'Artvin',
'Aydın', 'Balıkesir', 'Bilecik', 'Bingöl', 'Bitlis', 'Bolu', 'Burdur', 'Bursa', 'Çanakkale',
'Çankırı', 'Çorum', 'Denizli', 'Diyarbakır', 'Edirne', 'Elazığ', 'Erzincan', 'Erzurum', 'Eskişehir',
'Gaziantep', 'Giresun', 'Gümüşhane', 'Hakkari', 'Hatay', 'Isparta', 'Mersin', 'İstanbul', 'İzmir', 
'Kars', 'Kastamonu', 'Kayseri', 'Kırklareli', 'Kırşehir', 'Kocaeli', 'Konya', 'Kütahya', 'Malatya', 
'Manisa', 'Kahramanmaraş', 'Mardin', 'Muğla', 'Muş', 'Nevşehir', 'Niğde', 'Ordu', 'Rize', 'Sakarya',
'Samsun', 'Siirt', 'Sinop', 'Sivas', 'Tekirdağ', 'Tokat', 'Trabzon', 'Tunceli', 'Şanlıurfa', 'Uşak',
'Van', 'Yozgat', 'Zonguldak', 'Aksaray', 'Bayburt', 'Karaman', 'Kırıkkale', 'Batman', 'Şırnak',
'Bartın', 'Ardahan', 'Iğdır', 'Yalova', 'Karabük', 'Kilis', 'Osmaniye', 'Düzce']

ilan_sayisi ve ort_fiyat adında iki tane boş liste oluşturulur ve bu listelere sırasıyla city_list içindeki tüm elemanlar gezilerek df veri setindeki tüm ilanların illere göre sayısını ve illere göre fiyat ortalaması aktarılır.

In [82]:
ilan_sayisi = []
ort_fiyat = []
for city in city_list:
    ilan_sayisi.append(len(df[df.il==city]))
    ort_fiyat.append(df[df.il==city].fiyat.mean())

df adında bir DataFrame oluşturulur ve bu DataFrame' in içine city_list içindeki şehirler, ilan_sayisi ve ort_fiyat değerleri aktarılır. Bunlar dışında plaka kodlarını bu DataFrame'e aktarmak için ise her şehrin index sayısının 1 fazlası yazılır böylece doğru plaka kodları oluşturulmuş olunur.

Null olan değerler 0 ile dolduruldu. Böylece hiç ilan açılmamış şehirler 0 ile gösterilmiş oldu.

In [ ]:
df = pd.DataFrame()

df['sehir'] = pd.Series(city_list)
df['plaka_kodu'] = df.index+1
df['ilan'] = pd.Series(ilan_sayisi)
df['ortalama_fiyat'] = pd.Series(ort_fiyat)

df = df.fillna(0)

Rahatsız eden ortalama_fiyat değerleri integer veri tipine dönüştürüldü.

In [93]:
df.ortalama_fiyat = df.ortalama_fiyat.astype(int)

In [97]:
df.sort_values(by="ortalama_fiyat", ascending=False) #ortalama_fiyat değerine göre yüksekten düşüğe

        sehir  plaka_kodu  ilan  ortalama_fiyat
6     Antalya           7   843         3067846
47      Muğla          48   805         2893986
33   İstanbul          34   882         2883191
8       Aydın           9   807         2258980
34      İzmir          35   842         2076737
..        ...         ...   ...             ...
7      Artvin           8     0               0
55      Siirt          56     0               0
29    Hakkari          30     0               0
28  Gümüşhane          29     0               0
61    Tunceli          62     0               0

[81 rows x 4 columns]